/*Section content*/
.from__group{
    display: flex;
    align-items: center;
    align-content: center;
}
/*button*/
.btn-add{
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #2aa73a;
    color: #ccffff;
    font-size: 14px;
    height: 25px;
}
.btn-add:hover{
    background-color: grey;
}
