
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/common_head_fragment :: head(title='Genres')}">
</head>
<body class="Site">
  <header class="Header" th:replace="~{fragments/header_fragment :: header(genres='menu-item menu-item_ACTIVE', status='unauthorized')}">
  </header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <h1 class="Middle-title" th:text="#{topbar.genres}">Жанры
        </h1>
        <div class="Section">
          <div class="Tags Tags_genres" >
            <div class="Tags Tags_embed" th:each="type : ${genres}">
              <div class="Tags-title">
                <div class="Tag">
                  <a href="/genres/slug.html" th:href="@{'/api/genres/type' + ${type.key}}"
                     th:id="${type.key.toString()}"
                     th:text="${type.getKey().toString()}">Лёгкое чтение
                    <span class="undefined-amount" th:text="${'(' + ${type.getValue().size()} + ')'}">(15638)</span></a>
                </div>
              </div>
              <div class="Tag" th:each="genre : ${genres.get(type.key)}">
                <a th:href="${'/api/genres/' + genre}">
                  <span th:text="${genre.name}">Фантастика</span>
                  <span class="undefined-amount"
                        th:text="${'(' + genre.getListBook().size() + ')'}">(44333)</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer class="Footer"  th:replace="~{fragments/footer_fragment ::footer}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>