<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/common_head_fragment :: head(title='Genre type')}">
</head>
<body class="Site">
<header class="Header" th:replace="~{fragments/header_fragment :: header(genres='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="/index.html" th:href="@{/}" th:text="#{topbar.main}">Главная</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/genres/index.html" th:href="@{/api/genres}" th:text="#{topbar.genres}">Жанры</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/genres/index.html" th:href="@{/api/genres}"
                       th:text="${type.getTypeGenre()}">Легкое чтение</a>
                </li>
            </ul>
            <header class="Middle-header">
                <h1 class="Middle-title"
                    th:text="${type.getTypeGenre()}">Детективы
                </h1>
            </header>
            <div class="Section">
                <div class="Cards Cards_refresh"
                     th:replace="~{fragments/cards_fragment :: cardBook(${booksOfType}, 'genreType', ${type.name()})}">
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/footer_fragment :: footer}">
</footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>