
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/common_head_fragment :: head(title='Add of author')}">
</head>
<body class="Site">
<header class="Header" th:replace="~{fragments/header_fragment :: header(authors='menu-item menu-item_ACTIVE', status='unauthorized')}">
</header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="/index.html" th:href="@{/}" th:text="#{topbar.main}">Главная</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/genres/index.html" th:href="@{/api/authors}" th:text="#{topbar.authors}"></a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span>Добавление автора</span>
                </li>
            </ul>
            <div class="page-add">
                <form action="#" method="post">
                    <div class="form-fieldset">
                        <h2 class="title-form">Добавление нового автора</h2>
                        <div class="form_input_group">
                            <lable class="form-lable" for="first_name_author">Введите имя автора</lable>
                            <input class="form-input" type="text" id="first_name_author" name="first_name_author">
                        </div>
                        <div class="form_input_group">
                            <lable for="last_name_author">Введите фамилию автора</lable>
                            <input class="form-input" type="text" id="last_name_author" name="last_name_author">
                        </div>
                        <div class="form_input_group">
                            <label class="lable-photo" for="file">Дорбавить фото автора</label>
                            <input class="form-input-photo" type="file" name="file" id="file">
                        </div>
                        <div class="form_input_group">
                            <lable class="lable-description" for="description_author">Введите бографию атора</lable>
                            <textarea class="text_description" name="text" placeholder="Биография автора"></textarea>
                        </div>
                        <button class="btn-add" type="submit">Добавить</button>
                    </div>
                </form>
            </div>
    </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/footer_fragment :: footer}">
</footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>