<!DOCTYPE html>
<html class="ie7" lang="ru">
<html class="ie8" lang="ru">
<html class="ie9" lang="ru">
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Жанры</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=52263780"><!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=52263780"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:replace="~{fragments/script_lang_fragment :: lang}"></script>
</head>
<body class="Site">
<header class="Header" th:replace="~{fragments/header_fragment :: header(admin='menu-item menu-item_ACTIVE', status='unauthorized')}">
</header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="/index.html" th:href="@{/}" th:text="#{topbar.main}">Главная</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/genres/index.html" th:href="@{/api/genres}" th:text="#{item.books}">Книги</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span th:text="#{addBook}">Добавление новой книги</span>

                </li>
            </ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title" th:text="#{addBook}">Добавление новой книги</h1>
                    <span style="color: red" th:if="${saveBook}" th:text="#{saveBook}">Книга добавлена</span>
                </div>
                <div>
                    <form action="#" method="post" th:object="${bookDto}" th:action="@{/api/admin/save-book}">
                        <div>
                            <label th:text="#{name.book}">Ведите название книги</label>
                            <input type="text" th:field="*{title}" th:placeholder="#{book.place.title}">
                        </div>
                        <div>
                            <h3 th:text="#{choose.author}">Выберите автора книги</h3>
                            <span th:text="#{notAuthor}">Если автор отсутствует в списке то перейдите по <a th:href="@{/api/admin/addAuthor}" th:text="#{link}">ссылке</a></span>
                            <select multiple>
                                <div th:each="author : ${authors}">
                                     <option th:text="${author}" th:field="*{authors}" th:value="${author.id}" value=""></option>
                                </div>
                            </select>
                        </div>
                        <div>
                            <label th:text="#{book.description}">Введите описание книги</label>
                            <textarea th:field="*{description}"></textarea>
                        </div>
                        <div>
                            <label th:text="#{book.price}">Ведите цену книги</label>
                            <input type="text" th:field="*{price}" placeholder="1000">
                        </div>
                        <div>
                            <label th:text="#{book.discount}">Введите скидку на кгигу</label>
                            <input type="text" th:field="*{discountPrice}">
                        </div>
                        <div>
                            <label th:text="#{book.genre}">Выберите жанр</label>
                            <select>
                                <div th:each="genre : ${genres}">
                                    <option th:text="${genre}" th:field="*{genre}" th:value="${genre.id}" value=""> </option>
                                </div>
                            </select>
                        </div>
                        <div>
                            <label th:text="#{book.tags}">Выберите один или несколько тегов</label>
                            <select multiple>
                                <div th:each="tag : ${tags}">
                                    <option th:text="${tag}" th:field="*{tags}" th:value="${tag.id}"></option>
                                </div>
                            </select>
                        </div>
                        <div>
                            <label th:text="#{book.isBestseller}">Является книга бесцеллером</label>
                            <input type="text" placeholder="Yes and no" th:field="*{bestseller}">
                        </div>
                        <div>
                            <label th:text="#{book.pubDate}">Укажите дату публикации</label>
                            <input type="text" placeholder="12.01.2022" th:field="*{pubDate}">
                        </div>
                        <div>
                                <label th:text="#{book.image}">Выберите обложку для книги</label>
                                <input  type="file" accept="image/*" th:field="*{image}">
                        </div>
                        <br>
                        <button class="btn btn_primary btn_outline" type="submit">
                            <span class="btn-content" th:text="#{btn.text.add}">Добавить</span>
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/footer_fragment :: footer}">
</footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>