
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/common_head_fragment :: head(title='BookShop')}"></head>
  <body class="Site">
  <header class="Header" th:replace="~{fragments/header_fragment :: header}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <div class="Section">
          <div th:replace="~{fragments/slider_carousel_fragment :: slider(${recommendedBooks}, #{slider.recommended}, 'recommended')}"> </div>
          <div th:replace="~{fragments/slider_carousel_fragment :: slider(${recentBooks}, #{slider.news}, 'recent')}"> </div>
          <div th:replace="~{fragments/slider_carousel_fragment :: slider(${popularBooks}, #{slider.popular}, 'popular')}"> </div>
        </div>
        <h2 class="Middle-title" th:text="#{title.tags}"></h2>
        <div class="Tags" id="tags" th:replace="~{fragments/tags_fragments :: tag(${tags})}"></div>
      </main>
    </div>
  </div>

  <footer class="Footer" th:replace="~{fragments/footer_fragment ::footer}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.7.1.min.js"></script>
  </body>
</html>