
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/common_head_fragment :: head(title='Recently viewed')}">
</head>
<body class="Site">
<header class="Header" th:replace="~{fragments/header_fragment :: header(recently='menu-item menu-item_ACTIVE', status='unauthorized')}">
</header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs" th:replace="~{fragments/breadcrums_fragment :: breadcrumps(#{item.books}, #{topbar.recently})}"></ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title" th:text="#{topbar.recently}">Недавно просмотренные
                    </h1>
                </div>
                <span th:if="${booksRecently} == null" th:text="#{'Вы не просмотрели ни одной книги((('}" style="color: red"></span>
                <div class="Cards Cards_refresh"
                     th:replace="~{fragments/cards_fragment :: cardBook(${booksRecently}, 'recently', null)}">
                </div>

            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/footer_fragment :: footer}">
</footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>